{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contato</title>
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'news/css/materialdesignicons.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'news/img/logo.png' %}" />
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    <!-- endinject -->
  </head>

  <body>
    <div class="container-scroller">
      <header id="header">
        <div class="container">
          <!-- partial:../partials/_navbar.html -->
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="d-flex justify-content-between align-items-center navbar-top">
                <ul class="navbar-left">
                  <li>1 de Maio, 2021</li>
                  <li>18°C,Jaraguá do Sul</li>
                </ul>
                <div>
                  <a class="navbar-brand" href="#"
                    ><img src="{% static 'news/img/logo1.png' %}" alt=""
                  /></a>
                </div>
                <div class="d-flex">
                  <ul class="navbar-right">
                    <li>
                      <a href="https://paineldj6.com.br:13895/live">OUÇA A RÁDIO</a>
                    </li>
                    <li>
                      <a href="https://paineldj6.com.br:13895/live"> <img src="{% static 'news/img/play.png' %}" width= "20" right= "15";></a>
                    </li>
                  <ul class="social-media">
                    <li>
                      <a href="https://www.instagram.com/supernovafm"> <img src="{% static 'news/img/insta.png' %}" width= "20" right= "15";>
                        <i class="mdi mdi-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/fmsupernova"> <img src="{% static 'news/img/facebook.png' %}" width= "20" right= "15";>
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <i class="mdi mdi-whatsapp"></i> <img src="{% static 'news/img/whats.png' %}" width= "20" right= "15";>
                      
                      </a>
                    </li>                 
                  </ul>
                </div>
              </div>  
              <div class="navbar-bottom-menu">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div
                  class="navbar-collapse justify-content-center collapse"
                  id="navbarSupportedContent"
                >
                  <ul
                    class="navbar-nav d-lg-flex justify-content-between align-items-center"
                  >
                    <li>
                      <button class="navbar-close">
                        <i class="mdi mdi-close"></i>
                      </button>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link active" href="news/">INÍCIO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="noticias/">NOTÍCIAS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="programacao/">PROGRAMAÇÃO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contato/">CONTATO</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

          <!-- partial -->
        </div>
      </header>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="news-post-wrapper">
            <div class="news-post-wrapper-sm ">
              <h1 class="text-center">
                QUEM SOMOS?
              </h1>
              
              
              <p class="pt-4 pb-4">
                Voce que gosta de uma boa música e participar das melhores promoções está no lugar certo.
              </p>
            </div>
            <img
              src="{% static 'news/img/RADIO.jpg' %}"
              alt="news"
              class="img-fluid mb-4"
            />
            <div class="news-post-wrapper-sm ">
              <p class="pt-4 pb-4 mb-4">
                Em 2018 inauguramos nossa sede no coração de Jaraguá do Sul, são os dois últimos andares no prédio Accord Center, localizado na famosa rua Reinoldo Rau, são 2 pisos que somam 200 metros quadrados, divididos em  comercial e artístico. A SUPERNOVA FM é considerada, uma das rádios mais modernas no Brasil, tecnologia de ponta para transmitir o melhor sinal, ambiente exclusivo, palco especialmente preparados para eventos, palestras e transmissões nas redes sociais, todas as salas possuem acústica, assim fica mais fácil manter a concentração e produzir melhores resultados.
              </p>
            </div>
            <div class="row mb-5">
              <div class="col-lg-6">
                <img
                  src="{% static 'news/img/RADIO1.jpg' %}"
                  alt="news"
                  class="img-fluid mb-4"
                />
              </div>
              <div class="col-lg-6">
                <h1 class="font-weight-600 mt-5">
                  A Rádio da galera TOP!
                </h1>
                <p>
                  E por falar em resultados, em nossa estrutura todos os dias são criadas belas produções para nossas redes sociais, como vídeos de grandes eventos à campanhas publicitárias, além de promoções.
                </p>
              </div>
            </div>
            <div class="news-post-wrapper-sm mb-4">
              <p>
                A modernidade também está integrada em nosso estúdio ao vivo, estrutura com o que há de melhor no mercado aliado à grandes profissionais de rádio, radialistas dedicados a levar sempre energia positiva, informação e credibilidade  à milhares de ouvintes por minutos.
              </p>
              <div class="bg-dark border-radius-6 px-4 py-3 mt-4">
                <p class="text-white font-weight-medium">
                  Sintonize 101.9! 
                </p>
              </div>
              <h1 class="mt-5 pt-5 font-weight-600 mb-4 pb-1" align="center">
                ENTRE EM CONTATO
              </h1>
            </div>
            
            
              
              <div class="text-center">
                <img
                  src="{% static 'news/img/logo.png' %}"
                  alt="news"
                  
                />
                
              
              </div>
              <p class="px-5 mb-5">
                47 3373-3003<br>
                contato@supernova.fm<br>
                Rua Guilherme Weege Nº202 Sl 510
                Centro - Jaragua do Sul - SC
              </p>
              
    <!-- container-scroller ends -->
    <!-- partial:../partials/_footer.html -->
    <footer>
          <div class="container">
          
            <div class="row">
              <div class="col-sm-12">
                <div class="d-flex justify-content-between">
              

                  <div class="d-flex justify-content-end footer-social">
                    <h5 class="m-0 font-weight-600 mr-3 d-none d-lg-flex">Segue lá!</h5>
                    <ul class="social-media">
                        <li>
                          <a href="https://www.instagram.com/supernovafm"> <img src="{% static 'news/img/insta.png' %}" width= "20" right= "15";>
                            <i class="mdi mdi-instagram"></i>
                          </a>
                        </li>
                        <li>
                          <a href="https://www.facebook.com/fmsupernova"> <img src="{% static 'news/img/facebook.png' %}" width= "20" right= "15";>
                            <i class="mdi mdi-facebook"></i>
                          </a>
                        </li>
                        <li>
                          <i class="mdi mdi-whatsapp"></i> <img src="{% static 'news/img/whats.png' %}" width= "20" right= "15";>
                          
                          </a>
                        </li> 
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div
                  class="d-lg-flex justify-content-between align-items-center border-top mt-5 footer-bottom"
                >
                  <ul class="footer-horizontal-menu">
                    <li><a href="#">Termos de uso</a></li>
                    <li><a href="#">Políticas de privacidade</a></li>
                  </ul>
                  <p class="font-weight-medium">
                    SUPERNOVA FM | <a>Desenvolvido por Amanda Cardoso e Kauê Correa</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </footer>

    <!-- partial -->
    <!-- inject:js -->
    <script src="{% static 'news/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'news/js/demo.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>
