{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Programação</title>
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'news/css/materialdesignicons.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'news/css/aos.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'news/css/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'news/css/owl.theme.default.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'news/img/logo.png' %}" />
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
    <!-- endinject -->
  </head>

  <body>
    <div class="container-scroller">
      <header id="header">
        <div class="container">
          <!-- partial:../partials/_navbar.html -->
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="d-flex justify-content-between align-items-center navbar-top">
                <ul class="navbar-left">
                  <li>1 de Maio, 2021</li>
                  <li>18°C,Jaraguá do Sul</li>
                </ul>
                <div>
                  <a class="navbar-brand" href="#"
                    ><img src="{% static 'news/img/logo1.png' %}" alt=""
                  /></a>
                </div>
                <div class="d-flex">
                  <ul class="navbar-right">
                    <li>
                      <a href="https://paineldj6.com.br:13895/live">OUÇA A RÁDIO</a>
                    </li>
                    <li>
                      <a href="https://paineldj6.com.br:13895/live"> <img src="{% static 'news/img/play.png' %}" width= "20" right= "15";></a>
                    </li>
                  <ul class="social-media">
                    <li>
                      <a href="https://www.instagram.com/supernovafm"> <img src="{% static 'news/img/insta.png' %}" width= "20" right= "15";>
                        <i class="mdi mdi-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/fmsupernova"> <img src="{% static 'news/img/facebook.png' %}" width= "20" right= "15";>
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <i class="mdi mdi-whatsapp"></i> <img src="{% static 'news/img/whats.png' %}" width= "20" right= "15";>
                      
                      </a>
                    </li>                  
                  </ul>
                </div>
              </div>
              <div class="navbar-bottom-menu">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div
                  class="navbar-collapse justify-content-center collapse"
                  id="navbarSupportedContent"
                >
                  <ul
                    class="navbar-nav d-lg-flex justify-content-between align-items-center"
                  >
                    <li>
                      <button class="navbar-close">
                        <i class="mdi mdi-close"></i>
                      </button>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link active" href="news/">INÍCIO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="noticias/">NOTÍCIAS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="programacao/">PROGRAMAÇÃO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contato/">CONTATO</a>
                    </li>
                   
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="mdi mdi-magnify"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

          <!-- partial -->
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center">
              <h1 class="text-center mt-5">
                PROGRAMAÇÃO
              </h1>
              <p class="text-secondary fs-15 mb-5">
                Programação da Supernova
              </p>
            </div>
          </div>
        </div>
        
          
        <div class="text-center pb-5 mb-5 border-bottom">
                <a
                  href="#"
                  class="btn btn-dark font-weight-bold mr-2 mb-2 mb-sm-0"
                  >SEGUNDA - FEIRA</a
                >
                <a
                  href="#"
                  class="btn btn-dark font-weight-bold mr-2 mb-2 mb-sm-0"
                  >TERÇA - FEIRA</a
                >
                <a
                  href="#"
                  class="btn btn-dark font-weight-bold mr-2 mb-2 mb-sm-0"
                  >QUARTA - FEIRA</a
                >
                <a
                  href="#"
                  class="btn btn-dark font-weight-bold mr-2 mb-2 mb-sm-0"
                  >QUINTA - FEIRA</a
                >
                <a
                  href="#"
                  class="btn btn-dark font-weight-bold mr-2 mb-2 mb-sm-0"
                  >SEXTA - FEIRA</a
                >
                <a
                  href="#"
                  class="btn btn-dark font-weight-bold mr-2 mb-2 mb-sm-0"
                  >SÁBADO</a
                >
                <a
                  href="#"
                  class="btn btn-dark font-weight-bold mr-2 mb-2 mb-sm-0"
                  >DOMINGO</a
                >
              </div>

        <div class="row mb-4">
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{% static 'news/img/PLAYLIST.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">MÚSICA</span>
            </div>
          
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{% static 'news/img/CAVERNA.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">COM ANDRÉ OLIVEIRA</span>
            </div>
        
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{% static 'news/img/SUPERMANHA.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">COM JOE JR</span>
            </div>
         
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{% static 'news/img/SESSENTA.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ENTREVISTAS</span>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{% static 'news/img/banana.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">COM DJ BANANA</span>
            </div>
         
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{% static 'news/img/TARDE.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">COM SANDRO BASTOS</span>
            </div>
    
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{% static 'news/img/RUSH.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">COM GIZELY</span>
            </div>
         
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{% static 'news/img/PLAYLIST2.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">MÚSICA</span>
            </div>
    
          </div>
        </div>
      </div>
    </div>
    <!-- container-scroller ends -->
    <!-- partial:../partials/_footer.html -->
    <footer>
      <div class="container">
      
        <div class="row">
          <div class="col-sm-12">
            <div class="d-flex justify-content-between">
          

              <div class="d-flex justify-content-end footer-social">
                <h5 class="m-0 font-weight-600 mr-3 d-none d-lg-flex">Segue lá!</h5>
                <ul class="social-media">
                    <li>
                      <a href="https://www.instagram.com/supernovafm"> <img src="{% static 'news/img/insta.png' %}" width= "20" right= "15";>
                        <i class="mdi mdi-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/fmsupernova"> <img src="{% static 'news/img/facebook.png' %}" width= "20" right= "15";>
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <i class="mdi mdi-whatsapp"></i> <img src="{% static 'news/img/whats.png' %}" width= "20" right= "15";>
                      
                      </a>
                    </li> 
                 
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div
              class="d-lg-flex justify-content-between align-items-center border-top mt-5 footer-bottom"
            >
              <ul class="footer-horizontal-menu">
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Políticas de privacidade</a></li>
              </ul>
              <p class="font-weight-medium">
                SUPERNOVA FM | <a>Desenvolvido por Amanda Cardoso e Kauê Correa</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- partial -->
    <!-- inject:js -->
    <script src="{% static 'news/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'news/js/aos.js' %}"></script>
    <script src="{% static 'news/js/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'news/js/demo.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>
